#capanel *{
    box-sizing:border-box;
    margin:0;
}
#capanel{ /* Main Panel */
    font-family:helvetica;
    font-size:80%;
    position:absolute;
    width:250px; /* static for now */
    height:400px;
    background:#F6F6F6;
    border:1px solid #c6c6c6;
    color:#191a1c;
    padding:0;
    box-sizing:border-box;
    bottom:10px;
}
#capanel .top{
    padding:5px 0;
}
#capanel .bottom{
    text-align:center;
    bottom: 5px;
    position: absolute;
}
#capanel .textbox{
    border:1px solid #DBDBDB;
    background:#fefefe;
    margin: 0px 10px 5px;
    height:50%;
    position:relative;
    overflow-y: scroll;
}
#capanel .button{
    border:1px solid #DBDBDB;
    color:#191a1c;
    padding:3px 5px;
    border-radius:5px;
    background:#fefefe;
    text-decoration:none;
}
#capanel .textarea{
    width: 100%;
    background: #fff;
    border-top: 1px solid #C6C6C6;
    border-bottom: 1px solid #C6C6C6;
    border-left: transparent;
    border-right: transparent;
    height: 40px;
    font-family:helvetica;
    padding:3px 5px;
    margin: 0 0 5px;
}
#capanel .input{
    width: 100%;
    background: #fff;
    border-top: 1px solid #C6C6C6;
    border-bottom: 1px solid #C6C6C6;
    border-left: transparent;
    border-right: transparent;
    padding:3px 5px;
}
#capanel .message{
    border-bottom:1px solid #DBDBDB;
    padding:3px 5px;
}
#capanel .message:nth-child(even){
    background:#FCFCFC;
}
#capanel .user{
    float:left;
    font-weight:bold;
    text-transform: capitalize;
}
#capanel .time{
    float:right;
    font-style: italic;
} 
#capanel .out{
    clear:both;
    word-wrap: break-word;
}
#capanel-toggle{
    border:1px solid #DBDBDB;
    color:#191a1c;
    padding:3px 5px;
    border-radius:5px;
    background:#fefefe;
    text-decoration:none;
    position: fixed;
    bottom: 10px;
    left: 10px;
    box-shadow: 0 0 2px 1px rgba(50,250,155,0.3);
    cursor: pointer;
    z-index:100;
    user-select: none;
    -moz-user-select: none;
}
#capanel .selectUsers{
    margin-left: 9px;
    text-transform: capitalize;
}
#capanel .drops, #capanel .group{
    margin-left: 10px;
    clear:both;
}
#capanel .group{
    margin-bottom:8px;
    font-weight:bold;
    float:left;
}
#capanel .selectGroups, #capanel .selectUsers{
    max-width:60%;
}
#capanel #close{
    float:right;
    position: absolute;
    right: 0;
    top:0;
}
#capanel #enlarge, #capanel #shrink{
    position: absolute;
    right: 25px;
    top: 0;
}
